@font-face {
  font-family: 'TWKLausanne-250';
  font-style: normal;
  font-weight: 250;
  src: url('/fonts/TWKLausanne-250.otf') format('opentype');
}
@font-face {
  font-family: 'TWKLausanne-300';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/TWKLausanne-300.otf') format('opentype');
}
@font-face {
  font-family: 'TWKLausanne-350';
  font-style: normal;
  font-weight: 350;
  src: url('/fonts/TWKLausanne-350.otf') format('opentype');
}
@font-face {
  font-family: 'TWKLausanne-400';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/TWKLausanne-400.otf') format('opentype');
}
@font-face {
  font-family: 'TWKLausanne-450';
  font-style: normal;
  font-weight: 450;
  src: url('/fonts/TWKLausanne-450.otf') format('opentype');
}
@font-face {
  font-family: 'TWKLausanne-500';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/TWKLausanne-500.otf') format('opentype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "TWK Lausanne"!important;
}
body {
  padding: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (min-width: 1920px ) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 1920px ) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 1440px ) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px ) {
  html {
    font-size: 12px;
  }
}
